<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Blog</title>
    <style>
        .nav-underline .nav-link.active, .nav-underline .show>.nav-link {
            color: #fd7e14;
        }

        .nav-link {
            color: #000;
        }

        .nav-link:focus, .nav-link:hover {
            color: #000;
        }
        
        .arshive-tab .nav-link.active, .nav-underline .show>.nav-link {
            background: #ebebebff;
            border-radius: 25px;
        }
    </style>
</head>
<body>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="container py-4 border-bottom">
                <div class="row">
                    <div class="col column">
                        <div class="card my-2 border-bottom" style="width: 100%;">
                            <img src="./img/90126186-0a8f-408f-abe3-1c60a6cc1fa1_639x375.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <p class="fw-light" style="font-size: 12px;">MAY 4 . <a href="#" style="color: #000;">AUSTRALIAN PROPERTY MARKET</a></p>
                            </div>
                        </div>

                        <div class="card my-2" style="width: 100%;">
                            <img src="./img/981f7587-c26c-4edb-9eed-8e0f9e3b8f8e_640x427.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <p class="fw-light" style="font-size: 12px;">MAY 4 . <a href="#" style="color: #000;">AUSTRALIAN PROPERTY MARKET</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card my-2 pb-5 text-center" style="width: 100%; background-color: #f7f7f7ff; border: none;">
                            <img src="./img/981f7587-c26c-4edb-9eed-8e0f9e3b8f8e_640x427.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title fs-1">Card title</h5>
                              <p class="card-text" style="color: #8c8c8cff;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <p class="fw-light" style="font-size: 12px; color: #8c8c8cff;">MAY 4 . <a href="#" style="color: #8c8c8cff;">AUSTRALIAN PROPERTY MARKET</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="row align-item-center mb-3">
                            <div class="col text-left">
                                <p class="fw-bold" style="font-size: 12px;">MOST POPULAR</p>
                            </div>
                            <div class="col text-end">
                                <p style="font-size: 12px; color: #8c8c8cff;">
                                    <a href="#" style="color: #8c8c8cff;">VIEW ALL</a>
                                </p>
                            </div>
                        </div>
                        <div class="card pb-5 pt-2 border-bottom" style="width: 100%; border: none; border-radius: 0;">
                            <div class="row g-0">
                              <div class="col-md-8">
                                <div class="card-body p-0">
                                  <h6 class="card-title">Card title</h6>
                                  <p class="fw-light" style="font-size: 12px; color: #8c8c8cff;">MAY 4 . <a href="#" style="color: #8c8c8cff;">AUSTRALIAN PROPERTY MARKET</a></p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <img src="./img/d04e6bb6-7647-4957-a875-d6c4680f768b_799x450.webp" class="img-fluid rounded" alt="...">
                              </div>
                            </div>
                        </div>
                        <div class="card pb-5 pt-2 border-bottom" style="width: 100%; border: none; border-radius: 0;">
                            <div class="row g-0">
                              <div class="col-md-8">
                                <div class="card-body p-0">
                                  <h6 class="card-title">Card title</h6>
                                  <p class="fw-light" style="font-size: 12px; color: #8c8c8cff;">MAY 4 . <a href="#" style="color: #8c8c8cff;">AUSTRALIAN PROPERTY MARKET</a></p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <img src="./img/d04e6bb6-7647-4957-a875-d6c4680f768b_799x450.webp" class="img-fluid rounded" alt="...">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-10">
                        <nav class="navbar text-center p-0 py-2">
                            <ul class="nav arshive-tab" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active fs-6 fw-light" style="font-size: 12px;" id="newHome-tab" data-bs-toggle="tab" data-bs-target="#newHome-tab-pane" type="button" role="tab" aria-controls="newHome-tab-pane" aria-selected="true">New</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link fs-6 fw-light" style="font-size: 12px;" id="topHome-tab" data-bs-toggle="tab" data-bs-target="#topHome-tab-pane" type="button" role="tab" aria-controls="topHome-tab-pane" aria-selected="false">Top</button>
                                </li>
                            </ul>
                        </nav>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="newHome-tab-pane" role="tabpanel" aria-labelledby="newHome-tab" tabindex="0">
                                <div class="d-flex flex-wrap">
                                    <div class="card my-2 border-bottom m-2" style="width: 18rem;">
                                        <img src="./img/90126186-0a8f-408f-abe3-1c60a6cc1fa1_639x375.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="fw-light" style="font-size: 12px;">MAY 4 . <a href="#" style="color: #000;">AUSTRALIAN PROPERTY MARKET</a></p>
                                        </div>
                                    </div>
                                    <div class="card my-2 border-bottom m-2" style="width: 18rem;">
                                        <img src="./img/90126186-0a8f-408f-abe3-1c60a6cc1fa1_639x375.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="fw-light" style="font-size: 12px;">MAY 4 . <a href="#" style="color: #000;">AUSTRALIAN PROPERTY MARKET</a></p>
                                        </div>
                                    </div>
                                    <div class="card my-2 border-bottom m-2" style="width: 18rem;">
                                        <img src="./img/90126186-0a8f-408f-abe3-1c60a6cc1fa1_639x375.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="fw-light" style="font-size: 12px;">MAY 4 . <a href="#" style="color: #000;">AUSTRALIAN PROPERTY MARKET</a></p>
                                        </div>
                                    </div>
                                    <div class="card my-2 border-bottom m-2" style="width: 18rem;">
                                        <img src="./img/90126186-0a8f-408f-abe3-1c60a6cc1fa1_639x375.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="fw-light" style="font-size: 12px;">MAY 4 . <a href="#" style="color: #000;">AUSTRALIAN PROPERTY MARKET</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex my-5 mx-2">
                                    <button type="button" class="btn btn-outline-secondary">See all <i class="fa fa-angle-right" style="margin-left: 5px;"></i></button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="topHome-tab-pane" role="tabpanel" aria-labelledby="topHome-tab" tabindex="0"></div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="archive-tab-pane" role="tabpanel" aria-labelledby="archive-tab" tabindex="0">
            <div class="container py-4">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-6">
                        <nav class="navbar text-center p-0 py-2">
                            <ul class="nav arshive-tab" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active fs-6 fw-light" style="font-size: 12px;" id="new-tab" data-bs-toggle="tab" data-bs-target="#new-tab-pane" type="button" role="tab" aria-controls="new-tab-pane" aria-selected="true">New</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link fs-6 fw-light" style="font-size: 12px;" id="top-tab" data-bs-toggle="tab" data-bs-target="#top-tab-pane" type="button" role="tab" aria-controls="top-tab-pane" aria-selected="false">Top</button>
                                </li>
                            </ul>
                        </nav>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="new-tab-pane" role="tabpanel" aria-labelledby="new-tab" tabindex="0">
                                <div class="card pb-5 pt-3 border-bottom" style="width: 100%; border: none; border-radius: 0;">
                                    <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body p-0">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="fw-light" style="font-size: 12px; color: #8c8c8cff;">MAY 4 . <a href="#" style="color: #8c8c8cff;">AUSTRALIAN PROPERTY MARKET</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./img/d04e6bb6-7647-4957-a875-d6c4680f768b_799x450.webp" class="img-fluid rounded" alt="...">
                                    </div>
                                    </div>
                                </div>
        
                                <div class="card pb-5 pt-3 border-bottom" style="width: 100%; border: none; border-radius: 0;">
                                    <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body p-0">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="fw-light" style="font-size: 12px; color: #8c8c8cff;">MAY 4 . <a href="#" style="color: #8c8c8cff;">AUSTRALIAN PROPERTY MARKET</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./img/90126186-0a8f-408f-abe3-1c60a6cc1fa1_639x375.webp" class="img-fluid rounded" alt="...">
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="top-tab-pane" role="tabpanel" aria-labelledby="top-tab" tabindex="0">
                                <div class="card pb-5 pt-3 border-bottom" style="width: 100%; border: none; border-radius: 0;">
                                    <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body p-0">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="fw-light" style="font-size: 12px; color: #8c8c8cff;">MAY 4 . <a href="#" style="color: #8c8c8cff;">AUSTRALIAN PROPERTY MARKET</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./img/981f7587-c26c-4edb-9eed-8e0f9e3b8f8e_640x427.webp" class="img-fluid rounded" alt="...">
                                    </div>
                                    </div>
                                </div>
        
                                <div class="card pb-5 pt-3 border-bottom" style="width: 100%; border: none; border-radius: 0;">
                                    <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body p-0">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="fw-light" style="font-size: 12px; color: #8c8c8cff;">MAY 4 . <a href="#" style="color: #8c8c8cff;">AUSTRALIAN PROPERTY MARKET</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./img/d04e6bb6-7647-4957-a875-d6c4680f768b_799x450.webp" class="img-fluid rounded" alt="...">
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="about-tab-pane" role="tabpanel" aria-labelledby="about-tab" tabindex="0">
            <div class="container py-4">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-7">
                        <div class="my-5">
                            <h2 class="mb-4">Why subscribe?</h2>
                            <p>
                                Welcome to the Australian Property Market, where you can find everything you need to know to start and grow your real estate portfolio. If this sounds like a community you’d like to join, Subscribe to get full access to the newsletter and website. Never miss an update.
                            </p>
                        </div>
                        <div class="mb-5">
                            <h2 class="mb-4">Stay up-to-date</h2>
                            <p>
                                You won’t have to worry about missing anything. Every new edition of the newsletter goes directly to your inbox.
                            </p>
                        </div>
                        <div class="mb-5">
                            <h2 class="mb-4">Join the crew</h2>
                            <p>
                                Be part of a community of people who share your interests.
                            </p>
                        </div>
                        <p>
                            If you’d like to join and write for us, please email info@buyeragentfinder.com.au. We’ll add you as a writer.
                        </p>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3 pb-2">
        <h6 class="border-bottom pb-3">Australian Property Market</h6>
        <div class="row">
            <div class="col-4">
                <div class="d-flex flex-column pt-3">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Type your email..." aria-label="Type your email..." aria-describedby="button-addon2">
                        <button class="btn" type="button" id="button-addon2" style="background-color: #fd7e14; color: #fff;">Button</button>
                    </div>
                    <ul class="nav d-flex flex-column pt-3" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active fs-6 fw-light" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link fs-6 fw-light" id="archive-tab" data-bs-toggle="tab" data-bs-target="#archive-tab-pane" type="button" role="tab" aria-controls="archive-tab-pane" aria-selected="false">Archive</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link fs-6 fw-light" id="about-tab" data-bs-toggle="tab" data-bs-target="#about-tab-pane" type="button" role="tab" aria-controls="about-tab-pane" aria-selected="false">About</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid border-top" style="background-color: #ebebebff;">
        <div class="d-flex justify-content-center align-item-center py-3">
            <p style="color: #8c8c8cff; font-size: 13px;">
                © 2023 Australian Property Market . <a href="#" style="color: #8c8c8cff;">Privacy</a> . <a href="#" style="color: #8c8c8cff;">Terms</a> . <a href="#" style="color: #8c8c8cff;">Collection notice</a>
            </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>